@media screen and (orientation: landscape) and (max-width: 1000px) {
    
    .gallery-container {
        /* Set wide width */
        width: max(100%, 102vw); 
        
        /* Increase negative margin */
        margin-left: -1.0vw;
        margin-right: -1.0vw;
        
        max-width: none; 
    }
    /* ... rest of the media query ... */
}
