/* ... (Sections 1 through 6 remain the same: Universal Reset, Body Setup, Header, Container, Item, and Image) ... */

/* 7. LANDSCAPE MODE GAP FIX & CENTERING CORRECTION (Revised) */
@media screen and (orientation: landscape) and (max-width: 1000px) {
    
    .gallery-container {
        /* Pushes the container to be 3% wider than the screen (less aggressive width) */
        width: max(100%, 103vw); 
        
        /* AGGRESSIVE PUSH: Applies a -1.5vw margin to pull content slightly less to the left. */
        margin-left: -1.5vw;
        margin-right: -1.5vw;
        
        /* CENTERING CORRECTION: Moves the content back to the right by 0.75vw 
           (half of the new -1.5vw left pull) to perfectly re-center the content. */
        transform: translateX(0.75vw); 
        
        /* Remove desktop constraint in landscape */
        max-width: none; 
    }
    
    .gallery-item {
        /* Items inside fill the new, expanded container */
        width: 100%;
        max-width: none; 
    }
}
